POSTGRES_URL="postgres://postgres.wevcdppygltumbtjikzf:WDwHDXmhF5MArFNe@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.wevcdppygltumbtjikzf:WDwHDXmhF5MArFNe@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://wevcdppygltumbtjikzf.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://wevcdppygltumbtjikzf.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.wevcdppygltumbtjikzf:WDwHDXmhF5MArFNe@aws-0-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="rNyCk6suFnhqYz3A1GSK0slq5rg8cu0ydJtRpDYP3h9ApB8SGoezzqrzROQ0lnrKfKlcoCcTT42ayEoFRv+XFw=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndldmNkcHB5Z2x0dW1idGppa3pmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIzMTg4MzgsImV4cCI6MjA1Nzg5NDgzOH0.qa0pEXk00vuRNsWSstPppE2q7ZmxD2CvT5WzGtM2lQY"
POSTGRES_PASSWORD="WDwHDXmhF5MArFNe"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndldmNkcHB5Z2x0dW1idGppa3pmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MjMxODgzOCwiZXhwIjoyMDU3ODk0ODM4fQ.fGYiBkD_0xNwd1GrTMfG8MlwLwtvDbZ6IUo0nXm1cxk"
POSTGRES_HOST="db.wevcdppygltumbtjikzf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndldmNkcHB5Z2x0dW1idGppa3pmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDIzMTg4MzgsImV4cCI6MjA1Nzg5NDgzOH0.qa0pEXk00vuRNsWSstPppE2q7ZmxD2CvT5WzGtM2lQY"